$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'stylesheets/_reset.scss';

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/alerts";
@import "perfect-scrollbar/perfect-scrollbar";


/**
 * App-wide Styles
 */

.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

@import 'main/main.scss';




