.main-container
  .container
    .product-similar-dialog-container
      .row
        .col-md-6
          .main-product-image
            img("src" = "http://www.razorfine.com/wp-content/uploads/2013/02/nina-agdal-sports-illustrated-2013-20.jpg")
        .col-md-6
          .categories-container
            .tabs
              a.tab(href = "#" ng-click = "mainCtrl.setFilter('pants')").
                Pants

              a.tab(href = "#" ng-click = "mainCtrl.setFilter('shirts')").
                Shirts

              a.tab(href = "#" ng-click = "mainCtrl.setFilter('acessories')").
                Accessories
          perfect-scrollbar.products(class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="2")
            ul
              li.product(ng-repeat = "product in mainCtrl.getProductsByCurrentFilter() track by $index")
                span.product-image
                  img(ng-src = "{{product.imageUrl}}")

                .product-price
                  $123
                p.product-description
                  |AESOS
                  br
                  |Urban Outfitters


                


