.main-container
  .container
    .row
      .col-md-6
        img("src" = "https://s-media-cache-ak0.pinimg.com/236x/ac/46/0a/ac460aeb3bd90d176386fa09e84a2601.jpg")
      .col-md-6
        | Products:
        .tab
          a(href = "#" ng-click = "mainCtrl.setFilter('pants')").
            Pants

          a(href = "#" ng-click = "mainCtrl.setFilter('shirts')").
            Shirts

          a(href = "#" ng-click = "mainCtrl.setFilter('acessories')").
            Accessories
        perfect-scrollbar.products(class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="2")
          ul
            li.product(ng-repeat = "product in mainCtrl.getProductsByCurrentFilter() track by $index")
              .product-image
                img(ng-src = "{{product.imageUrl}}")
              


